/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

:root {
  --color-header: #2185d4;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-body: #e7ecf0;
  --color-border: #bcbfc1;
  --font-family-base: Arial, sans-serif;
  --font-family-title: Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
}

body {
  background-color: var(--color-body);
  color: var(--color-black);
}

#body-title {
  text-align: center;
}

#filter {
  text-align: center;
}

header,
footer {
  background-color: var(--color-header);
  color: var(--color-white);
  height: 60px;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .login-button {
  text-align: right;
}

header .logo {
  height: 40px;
  padding-left: 10px;
}

nav a {
  color: var(--color-white);
  text-decoration: none;
  text-align: right;
  padding-right: 20px;
}

main {
  padding: 2rem;
}

#places-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
}

.login-box {
  position: relative;
  top: 50%;
  left: 50%;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
  /*padding: 30px;*/
  border-radius: 20px;
  /*flex-direction: column;*/
}

#login-form {
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
}

.view-details-btn {
  position: absolute;
  background-color: var(--color-header);
  color: var(--color-white);
  border-radius: 10px;
  border-color: var(--color-white);
  bottom: 15px;
  height: 50px;
  width: 120px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.place {
  width: 300px;
  height: 300px;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 20px;
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-top: 20px;
}
